{% extends "../base.html" %}
{% block title %}Store Management{% endblock %}

{% block content %}

<div class="container p-3">
  <div class="col-12">
    <h1 class="h2">Mange Yor Products</h1>
  </div>
  <div class="col-12 d-flex justify-content-between">
    <div>Add, Remove, and Edit <b>Products</b>,<b>Categories</b> and <b>Offers</b></div>
  </div>
  <hr>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <!-- Begin of Item -->
    <div class="col">
      <a href="{% url 'management:products' %}" class="text-reset text-decoration-none" role="button"
        style="max-width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
                <!-- To Be Updated  -->
              <svg class="position-absolute top-50 start-50 translate-middle m-4" xmlns="http://www.w3.org/2000/svg"
                width="40" height="40" viewBox="0 0 24 24">
                <path
                  d="M17.867 3.493l4.133 3.444v5.127l-10 8.333-10-8.334v-5.126l4.133-3.444 5.867 3.911 5.867-3.911zm.133-2.493l-6 4-6-4-6 5v7l12 10 12-10v-7l-6-5z" />
              </svg>
              <!-- ------------------ -->
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Products</h1>
                <p class="card-text small text-muted">Add, Remove, Update your products</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- End of Item -->
    <!-- Begin of Item -->
    <div class="col">
      <a href="{% url 'management:product_types' %}" class="text-reset text-decoration-none" role="button"
        style="max-width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
                <!-- To Be Updated  -->
              <svg class="position-absolute top-50 start-50 translate-middle m-4" xmlns="http://www.w3.org/2000/svg"
                width="40" height="40" viewBox="0 0 24 24">
                <path
                  d="M17.867 3.493l4.133 3.444v5.127l-10 8.333-10-8.334v-5.126l4.133-3.444 5.867 3.911 5.867-3.911zm.133-2.493l-6 4-6-4-6 5v7l12 10 12-10v-7l-6-5z" />
              </svg>
              <!-- ------------------ -->
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Product Types</h1>
                <p class="card-text small text-muted">Add, Remove, Update your Types</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- End of Item -->
    <!-- Begin of Item -->
    <div class="col">
      <a href="{% url "management:categories" %}" class="text-reset text-decoration-none" role="button"
        style="max-width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
              <img class="p-3" src="https://img.icons8.com/small/64/000000/folder-tree.png"/>
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Categories</h1>
                <p class="card-text small text-muted">Add, Remove, Update your Categories</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- End of Item -->
    <!-- Begin of Item -->
    <div class="col">
      <a href="" class="text-reset text-decoration-none" role="button"
        style="max-width: 540px;">
        <div class="card mb-3">
          <div class="row g-0">
            <div class="col-2 position-relative">
                <!-- To Be Updated  -->
                <img class="py-3" src="https://img.icons8.com/small/64/000000/folder-tree.png"/>
              <!-- ------------------ -->
            </div>
            <div class="col-10">
              <div class="card-body ps-0 ps-md-1">
                <h1 class="h5">Offers</h1>
                <p class="card-text small text-muted">Add, Remove, Update your Offers</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- End of Item -->
  </div>
</div>
{% endblock %}