{% extends "./sub_base.html" %}
{% block title %}Product Type Edit{% endblock %}


<!--path_to_template_to_assignment_create_form.html-->


{% block sub_content %}
<div class="container mt-4">
    <form method="post">
        {% csrf_token %}
        <div class="card">
            <div class="card-header">
                <h4>Create Product Type</h4>
            </div>
            <div class="card-body">
                {{ form.non_form_errors }}
                {{ form.as_p }}
                {{product_type_form.as_p}}
                {{specs_formset.as_p}}
                <h5 class="text-info">Add Product Type Specs</h5>
                {{ product_specs_formset.non_form_errors }}
                {{ product_specs_formset.management_form }}
                {% for form in product_specs_formset %}
                <div class="d-flex py-1 inline {{ product_specs_formset.prefix }}">
                    <div>{{form.name.label}}: {{ form.name }}</div>
                    <div class="ml-4">{{form.value.label}}: {{ form.value }}</div>
                    {% if product_specs_formset.can_delete %}
                        <div class="ml-4">{{ form.DELETE }} {{ form.DELETE.label }}</div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="mt-3 mb-5">
            <button type="submit" class="px-5 btn btn-info">Submit</button>
        </div>
    </form>
</div>
{% endblock %}


