{%load static%}
{%load mptt_tags%}



<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}Tech City{% endblock %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="{% static 'store/vendor/bootstrap/css/bootstrap.min.css' %}">
    <!-- Lightbox-->
    <link rel="stylesheet" href="{% static 'store/vendor/lightbox2/css/lightbox.min.css' %}">
    <!-- Range slider-->
    <link rel="stylesheet" href="{% static 'store/vendor/nouislider/nouislider.min.css' %}">
    <!-- Bootstrap select-->
    <link rel="stylesheet" href="{% static 'store/vendor/bootstrap-select/css/bootstrap-select.min.css' %}">
    <!-- Owl Carousel-->
    <link rel="stylesheet" href="{% static 'store/vendor/owl.carousel2/assets/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'store/vendor/owl.carousel2/assets/owl.theme.default.css' %}">
    <!-- Google fonts-->
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&amp;display=swap">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Martel+Sans:wght@300;400;800&amp;display=swap">
    <!-- theme stylesheet-->
    <link rel="stylesheet" href="{% static 'store/css/style.default.css' %}" id="theme-stylesheet">
    <!-- Custom stylesheet-->
    <link rel="stylesheet" href="{% static 'store/css/custom.css' %}">
    <!-- Favicon-->
    <link rel="shortcut icon" href="{% static 'store/img/favicon.png' %}">

</head>



<body>
    <div class="page-holder">
        <!-- Info NavBar -->
        <!-- Main NavBar -->
        <header class="header bg-light border-bottom">
            <div class="container px-0 px-lg-3">
                <nav class="navbar navbar-expand-lg navbar-light py-1 px-lg-0">

                    <a class="mr-5 text-decoration-none" href="{% url "store:home"%}"><span
                            class="font-weight-bold text-uppercase text-dark">Tech-City</span></a>

                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">

                            <li class="nav-item">
                              <a class="nav-link active" href="{% url "store:home"%}">Home</a>
                            </li>


                            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" id="pagesDropdown"
                                href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Shop</a>

                            <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                                
                                <a class="dropdown-item border-0 transition-link" href="{% url "store:all_products" %}">All Products</a>
                                
                                {%recursetree categories%}
                                {% if not node.is_leaf_node %}
                                <h6 class="dropdown-header">{{node.name}}</h6>
                                
                                <ul>
                                {{children}}
                                </ul>
                                {%else%}
                                <a class="dropdown-item border-0 transition-link" href="{{node.get_absolute_url}}">{{node.name}}</a>
                                {%endif%} 
                                {%endrecursetree%}
                            </div>
                        </li>

                       

                            <li class="nav-item">
                              <a class="nav-link" href="{% url "store:contact_us" %}">Contact Us</a>
                            </li>

                        </ul>


                        <ul class="navbar-nav ml-auto">
                            <li>
                                <form class="form-inline dropdown my-2 pr-5 my-lg-0" method='get' action="/search/" autocomplete="off">
                                  {% csrf_token %}
                                    {{search_form.query}}
                                    <ul class="dropdown-menu col-8 pl-2" role="menu" areia-labelledby="menu" id="list">
                                        <li></li>
                                    </ul>
                                    <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
                                  
                                </form> 
                            </li>

                            

                            {% if request.user.is_authenticated %}
                            <li class="nav-item"><a class="nav-link" href="{% url "account:wishlist"%}"> <i
                                        class="far fa-heart mr-1"></i><small id='wishlist_length'class="text-gray">{{wishlist|length}}</small></a></li>
                            <li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown"
                                    aria-haspopup="true" aria-expanded="false"><i
                                        class="far fa-user mr-1"></i><small class="text-gray">Profile</small></a>
                                <div class="dropdown-menu mt-3" aria-labelledby="pagesDropdown">
                                    <a class="dropdown-item border-0 transition-link"
                                        href="{% url "account:dashboard" %}">Settings</a>
                                    <a class="dropdown-item border-0 transition-link"
                                        href="{% url "account:logout" %}">Log out</a>
                                </div>

                            </li>
                            {%else%}
                            <li class="nav-item"><a class="nav-link" href="{% url "account:login" %}"> <i
                                        class="fas fa-user-alt mr-1 text-gray"></i>Login</a>
                            </li>
                            {%endif%}

                        </ul>


                    </div>
                </nav>
            </div>
        </header>

        
        <!-- ---------------- -->

        <!-- Main Content -->
        <div class="continer">
            <!-- Reuslt Messaged -->

        <div class="row d-flex justify-content-center mt-3">
            <div class="col-sm-10 col-md-6 col-lg-8">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissible fade show shadow" role="alert">
                    <i class="fa fa-check-circle" aria-hidden="true"></i>
                    {{message|safe}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            {%block content%}
        
            {%endblock%}
        </div>

        </div>
        
        <!-- ---------------- -->           

       <!--Page Footer-->
        <footer class="section-footer border-top bg-light">
            <div class="container">

                <section class="footer-bottom row text-dark pt-2">
                    <div class="col-md-2">
                        <p class="text-muted"> © 2022 TechCity </p>
                    </div>
                    <div class="col-md-8 text-md-center">
                        <span class="px-3">techcity@gmail.com</span>

                    </div>
                    <div class="col-md-2 text-md-right text-muted">
                        <i class="fab fa-lg fa-cc-visa"></i>
                        <i class="fab fa-lg fa-cc-paypal"></i>
                        <i class="fab fa-lg fa-cc-mastercard"></i>
                    </div>
                </section>
            </div>
        </footer>
        <!-- ---------------- -->           

        <!-- Built in JavaScript Template files-->
        <script src="{% static 'store/vendor/jquery/jquery.min.js' %}"></script>
        <script src="{% static 'store/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'store/vendor/lightbox2/js/lightbox.min.js' %}"></script>
        <script src="{% static 'store/vendor/nouislider/nouislider.min.js' %}"></script>
        <script src="{% static 'store/vendor/bootstrap-select/js/bootstrap-select.min.js' %}"></script>
        <script src="{% static 'store/vendor/owl.carousel2/owl.carousel.min.js' %}"></script>
        <script src="{% static 'store/vendor/owl.carousel2.thumbs/owl.carousel2.thumbs.min.js' %}"></script>
        <script src="{% static 'store/js/front.js' %}"></script>

        <!--My Scripts-->
        <script src="{% static 'store/js/product_details.js' %}"></script>
        <script src="{% static 'account/js/account_security.js' %}"></script>
        <script src="{% static 'store/js/search.js' %}"></script>

       

        
        <!--For Adding Extra Scripts in Subpages-->
        {%block content2%}
        {%endblock%}


        <!-- FontAwesome CSS -->
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
            integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
            
    </div>
</body>

</html>