{% extends "../base.html" %}
{% load static %}
{% block title %}{% if product %}{{ product.title }}{% else %}Product{% endif %}{% endblock %}
{%load mptt_tags%}


{%block content%}



<link rel="stylesheet" href="{% static 'store/css/jquery.artarax.rating.star.css' %}">



<section class=" my-3 border">
    {% csrf_token %}
        <div class="row mb-5">

            <!-- product image slider -->

            <div class="col-lg-6">
                <!-- PRODUCT SLIDER-->
                <div class="row m-sm-0">
                    <div class="col-sm-2 p-sm-0 order-2 order-sm-1 mt-2 mt-sm-0">
                        <div class="owl-thumbs d-flex flex-row flex-sm-column" data-slider-id="1">
                            {% for image in product.product_image.all %}
                            <div class="owl-thumb-item flex-fill mb-2 mr-2 mr-sm-0"><img class="w-100"
                                    src="{{ image.image.url }}" alt="{{ image.image.alt_text }}"></div>
                            {% endfor %}

                        </div>
                    </div>

                    <div class="col-sm-10 order-1 order-sm-2">
                        <div class="owl-carousel product-slider" data-slider-id="1">
                            {% for image in product.product_image.all %}
                            <a class="d-block" href="{{ image.image.url }}" data-lightbox="product"
                                title="Product item 1"><img class="img-fluid" src="{{ image.image.url }}"
                                    alt="{{ image.image.alt_text }}"></a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>


            <!-- PRODUCT DETAILS-->
            <div class="col-lg-6">


                <!-- Product Rating -->
                <ul class="list-inline mb-2">
                {% with ''|center:product_rate as range %}
                {% for _ in range %}
                <li class="list-inline-item m-0"><i class="fas fa-star small text-warning"></i></li>
                {% endfor %}
                
                {% endwith %}
                </ul>

            
                <!-- Product General Details -->
                <h1>{{product.title}}</h1>
                <p class="text-small mb-4">{{product.description}}</p>

                <!-- Product Wishlist -->
                {% if request.user.is_authenticated %}
                <button data-pid="{{product.slug}}" class="btn btn-outline-danger btn-sm ml-3 border-0" id="add_to_wishlist">
                    {% if product_state %}
                    <i class="fa fa-heart"></i> <span>Wishlist</span> </button>
                {% else %}
                <i class="far fa-heart"></i> <span>Wishlist</span> </button>
                {% endif %}
                    {% endif %}

                <br>

                <ul class="list-unstyled small d-inline-block">
                
                    <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Category:</strong><a
                            class="reset-anchor ml-2" href="#">{{product.category}}</a></li>
                
                    <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Tags:</strong><a
                            class="reset-anchor ml-2" href="#">Innovation</a></li>
                    
                    <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Price:</strong><a
                        class="reset-anchor ml-2" href="#">{{product.regular_price}} $</a></li>
                    <li class="px-3 py-2 mb-1 bg-white text-muted"><strong class="text-uppercase text-dark">Your Rating:</strong><a
                        class="reset-anchor ml-2" href="#">{{product_rate}} </a></li>
                
                    <li class="px-3 mb-1 bg-white text-muted d-flex">
                            <div class="rating-star ">
                                <span data-val="1"></span>
                                <span data-val="2"></span>
                                <span data-val="3"></span>
                                <span data-val="4"></span>
                                <span data-val="5"></span>
                            </div></li>
                    <li></li>
                
                </ul>


            </div>
        </div>


        <!-- DETAILS TABS-->
        <ul class="nav nav-tabs mx-3" id="myTab" role="tablist">
            <li class="nav-item"><a class="nav-link active" id="description-tab" data-toggle="tab" href="#description"
                    role="tab" aria-controls="description" aria-selected="true">Description</a></li>
            <li class="nav-item"><a class="nav-link" id="reviews-tab" data-toggle="tab" href="#reviews" role="tab"
                    aria-controls="reviews" aria-selected="false">Reviews</a></li>
        </ul>
        
        <!-- Product Specifications Tab -->
        <div class="tab-content mb-5" id="myTabContent">
            <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
                <div class="p-4 p-lg-5">
                    <div class="table-responsive">
                        <div class="table-wrapper">
        
                            <table class="table table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Product Specifications</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in product_specs %}
                                    <tr class="specs-item">
                                        <th class="field-name">
                                            {{item.name}}
                                        </th>
                                        <td class="field-value">
                                            {{ item.value }}
                                        </td>
                                    </tr>
                                    {% endfor %}
        
                                </tbody>
                            </table>
                        </div>
                    </div>
        
                </div>
            </div>
            <!-- Product Reviews Tab -->
            <div class="tab-pane fade" id="reviews" role="tabpanel" aria-labelledby="reviews-tab">
                <div class="p-4 p-lg-5 bg-white">
            
                    <div class="row d-flex flex-column" id="comments_section">
            
                        {%recursetree comments%}
            
                        <div class="media mb-3" id="{{node.id}}">
                            <img class="rounded-circle" src="https://cdn.pixabay.com/photo/2021/02/27/16/25/woman-6055084__340.jpg"
                                alt="" width="50">
                            <div class="media-body ml-3">
                                <h6 class="text-info text-small mb-0 text-uppercase">{{node.user_name}}</h6>
                                <p class="text-small text-muted mb-0">{{node.publish_date}}</p>
                                <p class="mb-0">{{node.content}}</p>
                            </div>
                            {%if node.level < 1%} <button type="button" onclick="create_reply({{node.id}})"
                                class="btn btn-outline-primary btn-sm d-flex justify-content-end">Reply</button>
                                {%endif%}
                        </div>

                        {%if not node.is_leafe_node%}
                        <div class="m-3 ml-5">
                            {{children}}
                        </div>
                        {%endif%}

                        {%endrecursetree%}
            
                        <div class="card shadow-sm border-0 bg-light my-1">
                            <div class="card-body">
                                <form method='post' id="comment_form">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input type="text" name='content' class="form-control form-control-sm" id="id_content" placeholder="Add Comment ...">
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-sm">Comment</button>
                                </form>
                            </div>
                        </div>

                    </div>
            
                    <div>
                    </div>
                </div>
            </div>

        </div>







        <!-- RELATED PRODUCTS-->
        {% comment %} <h2 class="h5 text-uppercase mb-4">Related products</h2>
        <div class="row">
            <!-- PRODUCT-->
            <div class="col-lg-3 col-sm-6">
                <div class="product text-center skel-loader">
                    <div class="d-block mb-3 position-relative"><a class="d-block" href="detail.html"><img
                                class="img-fluid w-100" src="img/product-4.jpg" alt="..."></a>
                        <div class="product-overlay">
                            <ul class="mb-0 list-inline">
                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-outline-dark" href="#"><i
                                            class="far fa-heart"></i></a></li>
                                <li class="list-inline-item m-0 p-0"><a class="btn btn-sm btn-dark" href="#">Add to
                                        cart</a></li>
                                <li class="list-inline-item mr-0"><a class="btn btn-sm btn-outline-dark"
                                        href="#productView" data-toggle="modal"><i class="fas fa-expand"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <h6> <a class="reset-anchor" href="detail.html">Timex Unisex Originals</a></h6>
                    <p class="small text-muted">$351</p>
                </div>
            </div>
        </div> {% endcomment %}
</section>
{%endblock%}






{%block content2%}
<script src="{% static 'store/js/comment.js' %}"></script>
<script src="{% static 'store/js/jquery.artarax.rating.star.js' %}"></script>

<script>
    
    $(function () {

        // ---------------------------- page.load() -------------------------
        var artaraxRatingStar = $.artaraxRatingStar({
            onClickCallBack: onRatingStar
        });

        

        function onRatingStar(rate, id) {
            var csrf = $("input[name=csrfmiddlewaretoken]").val();
            $.ajax({
                url: "",
                type: 'POST',
                data: {
                  rating_value:rate,
                  csrfmiddlewaretoken: csrf,
                  action: "rate",
                },
                success: function (response) {
                },
                // handle a non-successful response
                error: function (xhr, errmsg, err) {
                  alert("Error: " + err);
                }
              });
        }

    });
    
</script>
{%endblock%}


