{% extends "base.html" %} {% load static %} {% block title %}Search|{{ form.q.value }}
{% endblock %} {% block content %}

<div class="container">



  <!-- Header SECTION-->
  <section class="pt-5">
    <header class="text-left">
      {% if q %}
      <h2 class="h5 text-uppercase">Products Contiaing: "{{q}}"</h2>
      <p class="small text-muted small text-uppercase mb-1">
        {% with results.count as total_results%}
        Found {{total_results}} result{{total_results|pluralize}}
        {% endwith %}
      </p>
      {% endif %}
    </header>
  </section>

  <!-- Results Section -->
  <section class="py-5">
    <header>
    </header>
    
    <ul class='list-unstyled'>
      {%for product in results%}
      <li class="m-3">
       
        <div class="card">
          <div class="d-flex">
            <div class="img-square-wrapper">
              {% for image in product.product_image.all %}
              {%if image.is_feature %}
              <img class="img-fluid w-100" src="{{ image.image.url }}"
                  alt="{{ image.image.alt_text }}">
          {%endif%} 
          {%endfor%}
            </div>
            <div class="card-body">
              <a class="text-decoration-none" href="{{product.get_absolute_url}}"><h4 class="card-title">{{product.title}}</h4></a>
              <p class="card-text">{{product.description}}</p>
              <p class="card-text">{{product.regular_price}} <span class="text-danger">$</span></p>
            </div>
          </div>
        </div>
        
      </li>
      


      



      {% endfor %}
    </ul>
   
  </section>
</div>
{%endblock%}