{% extends "base.html" %} {% load static %} {% block title %}Search|{{ form.q.value }}
{% endblock %} {% block content %}

<div class="container">


  {% comment %} <!-- Search Form Section -->
  <section class="pt-3 col-9">
    <form class="form-inline dropdown my-2 pr-5 my-lg-0" method='get' autocomplete="off">
      {{form.q}}
      <ul class="dropdown-menu col-8 pl-2" role="menu" areia-labelledby="menu" id="list">
      </ul>
      <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      {% csrf_token %}
    </form>
  </section> {% endcomment %}

  <!-- Header SECTION-->
  <section class="pt-5">
    <header class="text-left">
      {% if q %}
      <h2 class="h5 text-uppercase">Products Contiaing: "{{q}}"</h2>
      <p class="small text-muted small text-uppercase mb-1">
        {% with results.count as total_results%}
        Found {{total_results}} result{{total_results|pluralize}}
        {% endwith %}
      </p>
      {% endif %}
    </header>
  </section>

  <!-- Results Section -->
  <section class="py-5">
    <header>
    </header>
    {%for product in results%}
    <div class="row">
      {{product.title}}
    </div>
    {% endfor %}
  </section>
</div>
{%endblock%}